<h2 class="ui center aligned icon header">
  <i class="circular blue comment alternate icon"></i>
  Chatroom
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Write a message...">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column ">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="active teal item">
            Inbox
            <div class="ui teal left pointing label">1</div>
          </a>
          <a class="item">
            Spam
            <div class="ui label">51</div>
          </a>
          <a class="item">
            Updates
            <div class="ui label">1</div>
          </a>
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search mail...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
