@import 'semantic-ui';

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.user-card {
  width: 100% !important;
  padding: 2% !important;
}

.icon-message {
  visibility: hidden !important;
}

.marg {
  margin-bottom: 20px !important;
}